<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div style="margin-top: 10vh">
      <h4>Getting started with <%= title%></h4>
      <p>Getting started is as easy as Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam animi,
        repudiandae neque et nisi quae a veniam. Corrupti sequi, totam ullam quod voluptatibus eum obcaecati dolores,
        nemo placeat possimus, impedit!</p>

      <a href="/auth/login" class="btn btn-default">Login</a>
      <a href="/auth/signup" class="btn btn-primary">Sign up</a>

      <p>If you are done, head back to <a href="/">homepage</a></p>
    </div>
  </div>
</div>
<% include ../partials/footer.ejs %>