<% include ../partials/header.ejs %>

<div class="container text-center" style="margin-top: 20vh;">
  <h4>Welcome to Will Management</h4>
  <p>To continue with secure accounts, Log in. If you haven't already created an account, Click on Signup button. If
    you need some help hit up the <a href="/gettingStarted">Getting Started tutorial</a>.</p>

  <h1></h1>
  <a href="/auth/login" class="btn btn-primary">Login</a>
  <a href="/auth/signup" class="btn btn-default">Sign up</a>

</div>
<% include ../partials/footer.ejs %>